@model IEnumerable<TresEmpanadas.Pedido>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreNegocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioDocena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayName("Estado Pedido")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in ((List<Pedido>)ViewBag.pedidosUsuario)) {
    <tr>
        <td>
            <label value =""> @item.NombreNegocio</label>
        </td>
        <td>
            <label value="">@item.Descripcion</label>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioDocena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPedido.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
            @if (Convert.ToInt32(System.Web.HttpContext.Current.Session["IdUsuario"]) == item.IdUsuarioResponsable)
            {
            @Html.ActionLink("Edit", "Edit", new { id = "IdPedido" })

//@Html.Raw("link editar");
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id="IdPedido" }) |
            @Html.ActionLink("Details", "Details", new { id="item.IdPedido" }) |
            @Html.ActionLink("Delete", "Delete", new { id="item.IdPedido" })
        </td>
    </tr>
}

</table>
